<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Page</title>
</head>
<body>
    <h2>this page belongs to @<%= data.name %> </h2>
    <p>followers : <%= data.followers %> &nbsp; &nbsp; &nbsp; &nbsp; followings: <%= data.following %></p>

    
</body>
</html>